@import "variables";
@import "mixins";

.home {
  padding: 0 30px;

  @media screen and (min-width: @screen-sm-min) {
    .col-sm-6 {
      width: @home-container-tablet;
    }
  }
  @media screen and (min-width: @screen-md-min) {
    .col-sm-6 {
      width: @home-container-desktop;
    }
  }
  @media screen and (min-width: @screen-lg-min) {
    .col-md-3 {
      width: @home-container-large-desktop;
    }
  }

  .col-lg-12.col-sm-12 {
    padding: 0;
    padding-left: 1%;
  }

  // categories
  .category-item {
    margin-bottom: 15px;

    .category-icon { // wrapper
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    .category-header { // icon
      .background-size(important, 100% auto);
      background-repeat: no-repeat;
      background-position: center !important;
      text-align: center;

      .badge {
        background: none;
        font-size: 15px;
        position: absolute;
        top: 2px;
        right: 20px;
        &.badge-important:before {
          font-family: FontAwesome;
          content: '\f01c';
          padding: 5px;
          font-size: 11px;
        }
      }

      > a > div {
        padding: 10px;
        height: 76px;
      }
    }

    .category-box { // text
      position: relative;
      background: @fade-bg;
      padding: 10px;
      min-height: 30px;
      &:after, &:before {
        bottom: 100%;
        left: 10%;
        content: " ";
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-top-width: 0;
        position: absolute;
      }
      &:after {
        border-bottom-color: @fade-bg;
      }
      &:before {
        border-bottom-color: @body-bg;
      }

      .post-preview {
        overflow: hidden;
        margin-top: 10px;
        padding: 10px 0;
        border-top: 1px dashed fade(white, 20);
        &:last-child {
          padding-bottom: 0;
        }

        img.user-img {
          width: 20px;
          height: 20px;
          margin: 0 5px 5px 0;
        }

        p {
          margin: 0;
          max-height: 80px;
          float: left;
          clear: left;

          img {
            max-width: 100%;
          }
        }

        span {
          font-size: 12px;
        }
      }
    }
  }

  // footer
  .category-sidebar {
    padding: 0;
    height: auto !important;

    .panel-default {
      &:hover .motd {
        color: rgb(69, 203, 255);
        background: @row-hover-bg;
      }
      &:hover .footer-stats {
        background: @row-hover-bg;
      }

      .motd {
        color: rgb(71, 203, 255);
        padding: 1em;
        margin: 0;

        >p {
          margin: 0;
        }
      }

      .panel-body {
        padding: @panel-body-padding;
        .footer-stats { // forum stats
          .border-radius(0 0 4px 4px);
          padding-top: 0px;
          margin: 0;
        }
      }
    }
  }
}