.transition (@attr) {
  -webkit-transition: @attr;
  -moz-transition: @attr;
  -o-transition: @attr;
  -ms-transition: @attr;
  transition: @attr;
}

.box-shadow (@attr) {
  -webkit-box-shadow: @attr;
  -moz-box-shadow: @attr;
  box-shadow: @attr;
}

.border-radius(@attr) {
  -webkit-border-radius: @attr;
  -moz-border-radius: @attr;
  border-radius: @attr;
}

.animation(@attr) {
  -webkit-animation: @attr;
  -moz-animation: @attr;
  -o-animation: @attr;
  animation: @attr;
}