@import "variables";
@import "mixins";

.emoji, .nodebb-plugin-emoji-skype {
  position: relative;
  top: -2px;
}

.nodebb-plugin-emoji-skype {
  .border-radius(100%);
  background: white;

  &[src$="/sleepy.gif"], &[src$="/inlove.gif"], &[src$="/party.gif"], &[src$="/bear.gif"], &[src$="/bow.gif"],
  &[src$="/yes.gif"], &[src$="/no.gif"], &[src$="/handshake.gif"], &[src$="/skype.gif"], &[src$="/mail.gif"],
  &[src$="/rain.gif"], &[src$="/music.gif"], &[src$="/muscle.gif"], &[src$="/cake.gif"], &[src$="/beer.gif"],
  &[src$="/drink.gif"], &[src$="/mooning.gif"], &[src$="/bandit.gif"], &[src$="/smoke.gif"], &[src$="/toivo.gif"],
  &[src$="/rock.gif"], &[src$="/poolparty.gif"], &[src$="/heidy.gif"], &[src$="/myspace.gif"], &[src$="/priidu.gif"] {
    .border-radius(0);
  }
}

.shortcut-selection {
  background-color: fade(white, 8);
}
.topic>ul>li.shortcut-selection {
  background-color: fade(white, 14);
}
#topics-container>li>div.shortcut-selection {
  background-color: fade(white, 8);
}

.plugin-mentions-a {
  background: @fade-bg !important;
  border: 1px solid @border-color !important;
  &:hover {
    background: transparent !important;
  }
}

.search {
  .label-success {
    .border-radius(0);
    padding: 0;
    background-color: fade(@brand-primary, 85);
    color: #000000;
  }
}