@import "cyborg";
@import "variables";
@import "mixins";
@import "header";
@import "home";
@import "category";
@import "topic";
@import "admin";
@import "plugins";

.container {
  padding: 0;
}

code, pre, .dropdown-menu, .panel, .modal-content {
  .border-radius(0);
}

code, pre > code {
  color: @code-color;
  background: @code-bg;
  border: 1px dotted @code-border-color;
  width: auto;
}

pre {
  overflow-x: auto;
  word-wrap: normal;
  margin: 0 40px 10px;
  border: 1px dotted @code-border-color;
  max-height: @pre-scrollable-max-height;
  padding: 0;

  > code {
    display: inline-block;
    white-space: pre;
    border: none;
    padding: 10px;
    min-width: 100%;

    .err {
      border: 1px solid rgba(255, 61, 0, 0.2);
      background: rgba(255, 61, 0, 0.15);
    }
  }
}

blockquote {
  background: @header-overlay-bg;

  p {
    font-size: inherit;
  }
}

table {
  border: 1px solid @table-border-color;

  tr {
    border: 1px solid @table-border-color;
    &:hover {
      background: @header-overlay-bg;
    }

    td {
      border: 1px solid @table-border-color;
      padding: @padding-base-vertical @padding-base-horizontal;
      &:hover {
        background: @header-overlay-bg;
      }
    }
  }
}

a[href*='/tags/'] {
  text-decoration: none;
  .label {
    &:hover, &:focus {
      background: @fade-bg;
    }
    background: @row-hover-bg;
    border-radius: 0;
    border: 1px solid grey;
  }
}

.user-img, .profile-image {
  // avatar
  .border-radius(3px);
  border: 1px solid fade(@pic-border-color, 75);
  width: 52px;
  height: 52px;
  &.small {
    .border-radius(2px);
    width: 26px;
    height: 26px;
  }
  &:hover {
    .border-radius(0);
    border: 1px solid @pic-border-color;
  }
}

.panel {
  > .panel-heading {
    background: @header-overlay-bg;
  }
}

.recent-replies {
  padding: 10px;
  ul {
    margin: 0 !important;
    padding: 5px !important;

    li {
      padding: 3px 5px 5px 5px;
      border-bottom: 1px dashed @border-color !important;
      margin: 0;
      &:last-child {
        border-bottom: none !important;
      }
      &:hover {
        background: @row-hover-bg;
      }
    }
  }
}

.composer {
  // create reply/topic box
  .box-shadow(inset 0px 15px 15px -15px white);
  background: fade(lighten(black, 5), 85);
  border-top: 1px solid fade(white, 30);

  .formatting-bar span {
    color: white;
    &:hover {
      background: @fade-bg;
    }
  }

  textarea, .well {
    background: @well-bg;
    color: fade(white, 80);
    border: 1px solid @well-border;
  }

  .well {
    overflow-y: auto;
  }
}

.input-group-addon {
  &.alert-danger {
    background-color: @alert-danger-bg !important;
  }
  &.alert-success {
    background-color: @alert-success-bg !important;
  }
}

@c: #3b3b3b;
@e: black;
@keyframes taskbar-active-grey {
  from {
    background-color: @e;
  }
  50% {
    background-color: @c;
  }
  to {
    background-color: @e;
  }
}

@-webkit-keyframes taskbar-active-grey {
  from {
    background-color: @e;
  }
  50% {
    background-color: @c;
  }
  to {
    background-color: @e;
  }
}

@-moz-keyframes taskbar-active-grey {
  from {
    background-color: @e;
  }
  50% {
    background-color: @c;
  }
  to {
    background-color: @e;
  }
}

@-o-keyframes taskbar-active-grey {
  from {
    background-color: @e;
  }
  50% {
    background-color: @c;
  }
  to {
    background-color: @e;
  }
}

.account-sub-links > li {
  float: right;
}

.taskbar li.new a {
  .animation(3s linear 0s normal none infinite taskbar-active-grey);
}

.fade-out {
  display: none;
}